html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: antiquewhite;
}
header {
    background-color: darkslategray;
    padding: 1rem 2rem;
}
header h1 {
    color: cornsilk;
    text-align: center;
}
header p {
    text-align: center;
}
.container {
    width: 600px;
    margin: 0 auto;
}
section article {
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}
section article p{
    text-align: center;
}
footer{
    background-color: darkslategray;
    padding: 3rem;
    color: floralwhite;
}
footer section {
    float: right;
}
footer p {
    margin: 0px;
}